# Project exclude paths
/.gradle/
/build/
/build/intermediates/javac/genericDebug/compileGenericDebugJavaWithJavac/classes/
/build/intermediates/javac/genericDebugUnitTest/compileGenericDebugUnitTestJavaWithJavac/classes/
/generic/**
/local.properties
/*.log
*.iml
/generic/
